#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

swiper-container {
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
}
swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar_slide {
  --border-radius: 0%;
}
.card1 {
  background-color: #000;
  color: white;
  ion-card-header {
    display: flex;
    flex-direction: column;
    ion-card-title {
      text-transform: uppercase;
      color: white;
    }
    ion-card-subtitle {
      font-weight: 500;
    }
  }
}

.card2 {
  color: #000;
  ion-card-header {
    display: flex;
    flex-direction: column;
    ion-card-title {
      text-transform: uppercase;
      color: #000;
    }
    ion-card-subtitle {
      font-weight: 500;
    }
  }
}
.card3 {
  background-color: #bbb8b8ed;
  color: #000;
  ion-card-header {
    display: flex;
    flex-direction: column;
    ion-card-title {
      text-transform: uppercase;
      color: #000;
    }
    ion-card-subtitle {
      font-weight: 500;
    }
  }
}
